@import 'var.css';
#app {
  margin: 0;
  background-color: var(--backgroundColor);
  font-weight: normal;
  font-family: 'Rubik' 'QuickSand';
  font-size: 30px;
}

html, body {
  margin: 0px !important;

  padding: 0px !important;
  overflow-x: hidden;
}