@import 'var.css';
#app {
  margin: 0;
  background-color: var(--backgroundColor);
  font-weight: normal;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body {
  margin: 0px !important;

  padding: 0px !important;
  overflow-x: hidden;
}