:root{
    --backgroundColor: #081c15;
    --backgroundDarker: #06140f;
    --backgroundLighter: #162F24;
    --green: #1c352a;
    --green1: #1b4332;
    --green2: #2d6a4f;
    --green3: #40916c;
    --green4: #74c69d;
    --light: #d8f3dc;
}